build/x64/
build/Win32/
apps_dshow/AVS2SrcDec/bin/
apps_dshow/AVS2SrcDec/Win32/
apps_dshow/AVS2SrcDec/x64/
apps_dshow/AVS2SrcDec/ipch/
*.suo
*.sdf
*.opensdf
*.yuv
*.avs
*.dat
*.dec
*.exe
*.txt
*.dll
*.ax
*.avs
*.avs2
*.ilk
*.user
*.exp
*.pdb
*.lib